@{ 
    ViewData["Title"] = "About";
}
<div>
    <h3>Developer Information</h3>
    <p>
        Name: Jordan DeBord
        <br />
        Email: <a href="mailto: zjad35@etsu.edu">zjad35@etsu.edu </a>
    </p>
    
    <h3>Additional Application Feature</h3>
    <p>
        
    </p>
</div>
