@{ 
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row">
        <div class="col-7">
            <h4>Additional Application Feature</h4>
            <p>
                My additional application feature is the introduction and implementation of genres for movies.
                Each movie can have zero-to-many genres, and each genre can be associated with zero-to-many movies.
                Admins can add and remove genres from movies, as well as create, update, and delete genres.
            </p>
        </div>
        <div class="col-5">
            <h4>Developer Information</h4>
            <p>
                Name: Jordan DeBord
                <br />
                Email: <a href="mailto: zjad35@etsu.edu">zjad35@etsu.edu </a>
            </p>
        </div>
    </div>
</div>
