@{ 
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row">
        <div class="col-7">
            <h4>Additional Application Feature</h4>
            <p>
                Temp paragraph explaining additional feature. REPLACE.
            </p>
        </div>
        <div class="col-5">
            <h4>Developer Information</h4>
            <p>
                Name: Jordan DeBord
                <br />
                Email: <a href="mailto: zjad35@etsu.edu">zjad35@etsu.edu </a>
            </p>
        </div>
    </div>
</div>
