@{ 
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row">
        <div class="col-7">
            <h4>Additional Application Feature</h4>
            <hr />
            <p>
                My additional application feature is the introduction and implementation of genres for movies. 
                Each movie can have zero-to-many genres, and each genre can be associated with zero-to-many movies. 
                Admins can add and remove genres from movies, as well as create, update, and delete genres.
            </p>
            <p>
                Users are able to browse movies by genre. They can then link to the movies details page or choose to watch 
                the movie from that page.
            </p>
        </div>
        <div class="col-5">
            <h4>Developer Information</h4>
            <hr />
            <p>
                Name: Jordan DeBord
                <br />
                Email: <a href="mailto: zjad35@etsu.edu">zjad35@etsu.edu </a>
            </p>
        </div>
    </div>
</div>
