@model JordanDeBordProject2.Models.ViewModels.PayMovieVM

<h3>
    Your card will be charged @Model.Price for movie @Model.Title
</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Pay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input readonly hidden asp-for="MovieId" class="form-control" />
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input readonly hidden asp-for="ProfileId" class="form-control" />
                <span asp-validation-for="ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input readonly hidden asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input readonly hidden asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div>
                <p>
                    Select Pay to watch the movie.
                </p>
            </div>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">All Movies</a> | 
    <a asp-action="Index" asp-controller="Home">Watched Movies</a> 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
