<div class="text-center">
    <h3>
        <a href="@Model.IMDB_URL" target="_blank">Click Here To Watch @Model.Title</a>
    </h3>
</div>
<hr />
<div>
    <a asp-action="Index">All Movies</a> | 
    <a asp-action="Index" asp-controller="Home">Watched Movies</a>
</div>
