@*
    Partial View to show additional NavBar items for logged in non-admin user.
*@

@if (User.IsInRole("Movie Connoisseur"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Details">View Profile</a>
    </li>
}
